<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Image Inpainting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
  <h1>Image Inpainting1</h1>
  <button onclick="window.location.href='{{ url_for('index') }}'">Upload Image</button>


  <div id="mask-images-container">
    <p>Images</p>
    {% if img_bytes %}
    <img src="data:image/png;base64,{{ img_bytes }}" alt="Loaded Image">
    {% elif error %}
    <p style="color: red;">p{{ error }}</p>
    {% endif %}
  </div>








  <div id="upload-container" style="display: none;">
    <h2>Upload Image</h2>
    <!-- <form id="upload-form" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required>
      <button type="submit">Upload</button>
    </form> -->
    <form id="upload-form">
      <label for="image-url">Image URL:</label>
      <input type="text" id="image-url" name="image-url" required>
      <button type="submit">Upload</button>
    </form>

    <div id="upload-feedback"></div>
  </div>
  <div id="select-object-container" style="display: none;">
    <h2>Select Object</h2>
    <canvas id="select-object-canvas"></canvas>
    <button id="select-object-button">Select Object</button>
    <div id="select-object-feedback"></div>
  </div>
  <div id="mask-images-container" style="display: none;">
    <h2>Mask Images</h2>
    <div id="mask-images">


    </div>
  </div>
</body>

</html>